@import 'settings';

.button-default{
  background: $color-orange;
  &:hover {
    background: darken($color-orange, 10%);
  }
}

body.term-iskolaknak {
  &.tax-utazas_kategoria{
    .fusion-row{
      width: 100% !important;
      max-width: 100% !important;
    }

    .fusion-footer{
      .fusion-row{
        width: $page-width !important;
        max-width: $page-width !important;
      }
    }
  }
}

body.single-utazas {
  #content {
    position: relative;
    margin-top: -110px;
  }

  .header {
    .title {
      h1{
        text-transform: uppercase;
        color: white;
        font-size: 2.8em;
        margin: 0;
        line-height: 90px;
      }
    }
    .square-buttons{
      margin-bottom: 20px;
    }
  }

  .fusion-row{
    width: 100% !important;
    max-width: 100% !important;
  }

  .fusion-footer{
    .fusion-row{
      width: $page-width !important;
      max-width: $page-width !important;
    }
  }

  .inside-pagewidth {
    padding: 20px 0;
    width: $page-width !important;
    max-width: $page-width !important;
    margin: 0 auto;
  }

  .desc{
    padding: 5px 0;

    h1 {
      text-transform: uppercase;
      color: $color-orange;
      margin: 0 0 25px 0;
    }
  }

  .price_desc{
    padding: 20px 0;
    background: $color-sec;
    color: white;

    h2 {
      color: white;
      text-transform: uppercase;
      font-weight: bold !important;
      font-family: 'Open Sans' !important;
    }
  }

  .program_desc{
    padding: 20px 0;
    background: $color-orange;
    color: white;

    h2 {
      color: white;
      text-transform: uppercase;
      font-weight: bold !important;
      font-family: 'Open Sans' !important;
    }
  }
}

.square-buttons{
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: table;
    background: #eae9e9;
    position: relative;

    li {
      display: table-cell;
      margin: 0;
      padding: 0;
      width: calc(100%/3);
      vertical-align: middle;
      border-right: 1px solid #ffffff;

      &:after {
        content:"";
        right: 0;
        height: 100%;
        position: absolute;
        top: 0;
        width: 1px;
        background: #ffffff;
      }

      a {
        text-align: center;
        line-height: 1.3;
        display: block;
        font-size: 1.5em;
        height: 100%;
        padding: 30px 10px;
        color: #939292;
        text-transform: uppercase;
      }

      &:last-child {
        border-right: none;
      }

      &.active {
        background: $color-orange;
        a {
          color: white;
        }
      }
    }
  }
}


.content-top-navi{
  font-size: 1.3em;

  i {
    color: #717171;
    font-size: 18px;
    margin: 20px 0 10px 0;
  }
  a{
    color: #939292 !important;
    &:hover {
      color: #777777 !important;
    }
  }

  .navi-orange-style{
    background: $color-orange;
    color: white;

    i, a {
      color: white !important;
    }
  }
}
.fusion-footer{
  .fb-ico {
    font-size: 1.5em;
    line-height: 38px;
    color: white;
    float: right;
    position: relative;

    &:before {
      font-family: 'FontAwesome';
      content:"\f09a";
      position: absolute;
      left: -55px;
      color: white;
      background: #0d6797;
      border-radius: 38px;
      line-height: 38px;
      font-size: 20px;
      text-align: center;
      padding: 0;
      margin: 0;
      width: 38px;
    }
  }

  .copy-logo {
    padding-left: 80px;
  }

  .footer-logo-holder{
    position: absolute;
    left: 0;
    bottom: 0;

    .logo {
      width: 65px;
      max-width: 65px;


      img {
        max-width: 100%;
        width: 100%;
      }
    }
  }
}

.krakko-card-home {
  h1 {
    color: $color-orange !important;
    font-weight: bold !important;
    font-family: 'Open Sans' !important;
    font-size: 38px !important;
    margin: 0 0 20px 0 !important;
  }
}

.page-top-link{
  background: #ECECEC !important;
  padding: 30px;
  color: #979797 !important;
  text-transform: uppercase !important;
  font-size: 1.4em !important;

  .fusion-button-text{
    color: #979797 !important;
  }

  &.link-orange {
    background: $color-orange !important;
    color: white !important;

    .fusion-button-text{
      color: #ffffff !important;
    }
  }
}

.fusion-main-menu .sub-menu{
  border-top: none;
}

.fusion-main-menu .sub-menu li{
  position: relative;

  a{
    padding-left: 15px;
  }
  &:after {
    content: "";
    height: 1px;
    background: #f7cf56;
    width: 80%;
    position: absolute;
    left: 50%;
    bottom: -1px;
    z-index: 1000;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  &:last-child{
    &:after {
      display: none;
    }
  }
}

.sc-loadpage-loadfromparent-holder,
.sc-loadpage-loadfromtaxonomy-holder{
  &.style-2x2{
    .load-page-item {
      background: #ffffff;

      .lpi-wrapper {
        display: flex;
        align-items: center;
        padding: 0;

        .item-data, .item-image{
          flex-basis: calc(100%/2);
        }
        .item-data{
          font-size: 1.1em;
          .title {
            h2 {
              font-size: 1.8em !important;
              line-height: 1 !important;
              text-transform: uppercase;
              color: #444444;
              font-weight: bold !important;
              font-family: 'Open Sans' !important;
              a{
                color: #444444;

                &:hover {
                  color: #111111;
                }
              }
            }

            a.fusion-button{
              background: $color-orange;
              color: white;
              padding: 4px 40px;
              margin-top: 10px;
            }
          }
          .excerpt{
            font-size: 0.9em;
          }
        }
        .item-image {
          img {
            width: 100%;
            max-width: 100%;
          }
        }
      }

      &.pos-left {
        .item-data {
          .cwrapper {
            padding: 0 50px 0 25%;
            text-align: right;
          }
        }
      }
      &.pos-right {
        .item-data {
          order: 2;
          .cwrapper {
            padding: 0 25% 0 50px;
            text-align: left;
          }
        }
        .item-image {
          order: 1;
        }
      }

      &.bg-orange {
        background: $color-orange !important;
        color: white !important;

        .title h2, a{
          color: white !important;
        }
        a:hover {
          color: #fae8cd !important;
        }
        a.fusion-button{
          background: white !important;
          color:  $color-orange !important;
        }
      }

      &.bg-grey {
        background: #32343c;
        color: white !important;

        .item-data{
          .title {
            h2 {
              color: white !important;
              a{
                color: white !important;

                &:hover {
                  color: darken(white, 10%) !important;
                }
              }
            }
          }
        }
      }
    }
  }
}
.utazas-contact-static{
  margin-bottom: 20px;
  font-size: 1.1em;
  .line {
    margin: 10px 0;

    strong {
      color: black;
      font-weight: bold;
    }
  }
}

.autoform-holder {
  .form-part-group{
    border-top: 1px solid $color-orange;
    margin: 20px 0 10px 0;
    .head {
      h3 {
        text-transform: uppercase;
        font-weight: bold;
        color: $color-orange;
        font-family: 'Arial';
        margin: 10px 0 5px 0;
      }
    }

    .fusion-button.inprogress{
      background: grey;
    }
    .fusion-button.success-send{
      background: #39b139;
    }

    .fusion-alert {
      text-align: left;
      text-transform: none;
    }
    .alert-danger{
      background: #ffe8e8;
      border: 1px solid #fdc6c6;
      color: #d24f4f;
    }

    .input-holder {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      flex-wrap: wrap;
      margin: 0 -10px;

      .input {
        flex-basis: 100%;
        .iwrapper{
          padding: 10px;
          label:not(.cb) {
            display: block;
            padding: 0 0 5px 0;
            font-weight: bold;
            font-family: 'Arial';
            color: black;
            font-size: 0.9em;
          }

          input[type=text],
          input[type=number],
          textarea {
            padding: 0 12px;
            line-height: 40px;
            height: 40px;
            font-size: 1.1em;
            border-color: #d2d2d2;
            border-style: solid;
            border-width: 1px;

            &.error-input {
              border-color: #ffabab;
              background-color: #fff0f0;
            }
          }
         input[type=number]{
           display: block;
           width: 100%;
         }
          textarea {
            width: 100%;
            display: block;
            min-height: 150px;
            height: 150px;
            max-height: 400px;
          }

          input[type=checkbox] {
            display: none;
          }

          input[type=checkbox] + label {
            padding-left: 40px;
            position: relative;
            line-height: 30px;
            display: block;
            font-weight: bold;
            cursor: pointer;
            vertical-align: middle;
            font-family: 'Arial';
            color: black;
            font-size: 0.9em;

            &:before {
              color: #e3e3e3;
              font-weight: normal;
              text-align: left;
              font-size: 30px;
              width: 30px;
              height: 30px;
              position: absolute;
              left: 0;
              top: 0;
              font-family: 'FontAwesome';
              content:"\f096";
            }
          }
          input[type=checkbox]:checked + label {
            &:before {
              content :"\f046";
              color: $color-orange;
            }
          }
        }



        &.input_megrendelo_email{
          flex-basis: calc(100%/2);
        }
        &.input_megrendelo_phone{
          flex-basis: calc(100%/2);
        }
        &.input_utasbiztositas_sztorno{
          flex-basis: calc(100%/3);
        }
        &.input_utasbiztositas_utasbiztositas{
          flex-basis: calc(100%/3);
        }
        &.input_post_address_irsz{
          flex-basis: 20%;
        }
        &.input_post_address_city{
          flex-basis: 30%;
        }
        &.input_post_address_address{
          flex-basis: 50%;
        }
      }
    }
    &.submit-form {
      text-align: right;
      padding: 10px 0;
    }
  }
}

.tax-utazas_kategoria{
  .page-width {
    width: $page-width;
    margin: 0 auto;
  }

  .header {
    margin-top: -90px;
    position: relative;
    z-index: 1000;
    .title {
      padding-bottom: 40px;
      h1 {
        text-transform: uppercase;
        font-size: 3em;
        line-height: 50px;
        margin: 0;
        padding: 0;
        color: white;
      }
    }
  }

}
