@import 'settings';
.content-top-navi{
  font-size: 1.3em;

  i {
    color: #717171;
    font-size: 18px;
    margin: 20px 0 10px 0;
  }
  a{
    color: #939292 !important;
    &:hover {
      color: #777777 !important;
    }
  }

  .navi-orange-style{
    background: $color-orange;
    color: white;

    i, a {
      color: white !important;
    }
  }
}
.fusion-footer{
  .fb-ico {
    font-size: 1.5em;
    line-height: 38px;
    color: white;
    float: right;
    position: relative;

    &:before {
      font-family: 'FontAwesome';
      content:"\f09a";
      position: absolute;
      left: -55px;
      color: white;
      background: #0d6797;
      border-radius: 38px;
      line-height: 38px;
      font-size: 20px;
      text-align: center;
      padding: 0;
      margin: 0;
      width: 38px;
    }
  }

  .copy-logo {
    padding-left: 80px;
  }

  .footer-logo-holder{
    position: absolute;
    left: 0;
    bottom: 0;

    .logo {
      width: 65px;
      max-width: 65px;


      img {
        max-width: 100%;
        width: 100%;
      }
    }
  }
}

.krakko-card-home {
  h1 {
    color: $color-orange !important;
    font-weight: bold !important;
    font-family: 'Open Sans' !important;
    font-size: 38px !important;
    margin: 0 0 20px 0 !important;
  }
}

.sc-loadpage-loadfromparent-holder{
  &.style-2x2{
    .load-page-item {
      background: #353946;
      color: white;

      .lpi-wrapper {
        display: flex;
        align-items: center;
        padding: 0;

        .item-data, .item-image{
          flex-basis: calc(100%/2);
        }
        .item-data{
          font-size: 1.1em;
          .title {
            h2 {
              font-size: 1.8em !important;
              line-height: 1 !important;
              text-transform: uppercase;
              color: white;
              font-weight: bold !important;
              font-family: 'Open Sans' !important;
            }
          }
          .excerpt{

          }
        }
        .item-image {
          img {
            width: 100%;
            max-width: 100%;
          }
        }
      }

      &.pos-left {
        .item-data {
          .cwrapper {
            padding: 0 20px 0 25%;
            text-align: right;
          }
        }
      }
      &.pos-right {
        .item-data {
          order: 2;
          .cwrapper {
            padding: 0 25% 0 20px;
            text-align: left;
          }
        }
        .item-image {
          order: 1;
        }
      }

      &.bg-orange {
        background: $color-orange !important;
      }
      &.bg-white {
        background: #ffffff !important;
        .item-data{
          .title {
            h2 {
              color: $color-orange !important;
            }
          }
          .excerpt{
            color: #444444;
          }
        }
      }
    }
  }
}
